1	#时钟信号连接
2	set_property PACKAGE_PIN AC19 [get_ports clk]
3	set_property IOSTANDARD LVCMOS33 [get_ports clk]
4	
5	#脉冲开关，用于输入作为复位信号，低电平有效
6	set_property PACKAGE_PIN Y3 [get_ports resetn]
7	set_property IOSTANDARD LVCMOS33 [get_ports resetn]
8	
9	#触摸屏引脚连接
10	set_property PACKAGE_PIN J25 [get_ports lcd_rst]
11	set_property PACKAGE_PIN H18 [get_ports lcd_cs]
12	set_property PACKAGE_PIN K16 [get_ports lcd_rs]
13	set_property PACKAGE_PIN L8 [get_ports lcd_wr]
14	set_property PACKAGE_PIN K8 [get_ports lcd_rd]
15	set_property PACKAGE_PIN J15 [get_ports lcd_bl_ctr]
16	set_property PACKAGE_PIN H9 [get_ports {lcd_data_io[0]}]
17	set_property PACKAGE_PIN K17 [get_ports {lcd_data_io[1]}]
18	set_property PACKAGE_PIN J20 [get_ports {lcd_data_io[2]}]
19	set_property PACKAGE_PIN M17 [get_ports {lcd_data_io[3]}]
20	set_property PACKAGE_PIN L17 [get_ports {lcd_data_io[4]}]
21	set_property PACKAGE_PIN L18 [get_ports {lcd_data_io[5]}]
22	set_property PACKAGE_PIN L15 [get_ports {lcd_data_io[6]}]
23	set_property PACKAGE_PIN M15 [get_ports {lcd_data_io[7]}]
24	set_property PACKAGE_PIN M16 [get_ports {lcd_data_io[8]}]
25	set_property PACKAGE_PIN L14 [get_ports {lcd_data_io[9]}]
26	set_property PACKAGE_PIN M14 [get_ports {lcd_data_io[10]}]
27	set_property PACKAGE_PIN F22 [get_ports {lcd_data_io[11]}]
28	set_property PACKAGE_PIN G22 [get_ports {lcd_data_io[12]}]
29	set_property PACKAGE_PIN G21 [get_ports {lcd_data_io[13]}]
30	set_property PACKAGE_PIN H24 [get_ports {lcd_data_io[14]}]
31	set_property PACKAGE_PIN J16 [get_ports {lcd_data_io[15]}]
32	set_property PACKAGE_PIN L19 [get_ports ct_int]
33	set_property PACKAGE_PIN J24 [get_ports ct_sda]
34	set_property PACKAGE_PIN H21 [get_ports ct_scl]
35	set_property PACKAGE_PIN G24 [get_ports ct_rstn]
36	
37	set_property IOSTANDARD LVCMOS33 [get_ports lcd_rst]
38	set_property IOSTANDARD LVCMOS33 [get_ports lcd_cs]
39	set_property IOSTANDARD LVCMOS33 [get_ports lcd_rs]
40	set_property IOSTANDARD LVCMOS33 [get_ports lcd_wr]
41	set_property IOSTANDARD LVCMOS33 [get_ports lcd_rd]
42	set_property IOSTANDARD LVCMOS33 [get_ports lcd_bl_ctr]
43	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[0]}]
44	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[1]}]
45	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[2]}]
46	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[3]}]
47	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[4]}]
48	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[5]}]
49	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[6]}]
50	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[7]}]
51	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[8]}]
52	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[9]}]
53	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[10]}]
54	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[11]}]
55	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[12]}]
56	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[13]}]
57	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[14]}]
58	set_property IOSTANDARD LVCMOS33 [get_ports {lcd_data_io[15]}]
59	set_property IOSTANDARD LVCMOS33 [get_ports ct_int]
60	set_property IOSTANDARD LVCMOS33 [get_ports ct_sda]
61	set_property IOSTANDARD LVCMOS33 [get_ports ct_scl]
62	set_property IOSTANDARD LVCMOS33 [get_ports ct_rstn]
